<h1><%= room_number_format(@room) %></h1>

<p>
	<h3>
		Occupancy Status: <%= room_occupancy_status(@room) %>
	</h3>
</p>

<p>
	<h3>
		Availability Status: <%= @room.availability_status.capitalize %>
	</h3>
</p>

<%= link_to("Back To All Rooms", rooms_path) %> |
<%= link_to("Edit Room", edit_room_path(@room)) %>