<div class="container text-center">
<h1><%= room_number_format(@room) %></h1>

<p>
	<h3>
		Occupancy Status: <%= @room.occupancy_status %>
	</h3>
</p>

<p>
	<h3>
		Availability Status: <%= @room.availability_status %>
	</h3>
</p>

<%= link_to("Back To All Rooms", rooms_path) %> |
<%= link_to("Edit Room", edit_room_path(@room)) %> |
<%= link_to("Delete Room", room_path(@room), method: :delete, data: { confirm: "Are you sure?" }) %>
</div>